<a href="https://colab.research.google.com/github/Dhriti07/WebScraping/blob/main/Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('1to1168.csv')

In [ ]:
df

,Unnamed: 0,page,link,name,website,city,state,zip,phone,cont_name,org
0,0,1,http://marketplace.akc.org/breeder/kimberly-fr...,['Greyhound'],http://www.windrockhounds.net,Torrington,WY,82240,9702701300,Colin and Kimberly Fritzler,WINDROCK LLC
1,1,1,http://marketplace.akc.org/breeder/joyce-brack...,['Flat-Coated Retriever'],http://www.shastaflatcoats.com,Yreka,CA,96097,530-598-7509,Joyce Brackney,Shasta Flatcoated Retrievers
2,2,1,http://marketplace.akc.org/breeder/ashs-mystic...,['Poodle'],http://www.mysticalpoodles.com,Pahrump,NV,89048,775-727-1115,Marie Hedeman,Ash's-Mystical Poodles
3,3,1,http://marketplace.akc.org/breeder/vicky-cream...,"['French Bulldog', 'Labrador Retriever']",http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
4,4,1,http://marketplace.akc.org/breeder/vicky-cream...,"['French Bulldog', 'Labrador Retriever']",http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
...,...,...,...,...,...,...,...,...,...,...,...
22104,3123,1167,http://marketplace.akc.org/breeder/sheyenne-bu...,['German Shepherd Dog'],NaN,Brighton,MI,48114,248-880-5974,Sheyenne Buentello,Sheyenne Buentello
22105,3124,1167,http://marketplace.akc.org/breeder/steel-magno...,['Labrador Retriever'],https://www.facebook.com/magnoliapuppies/?ref=...,Canton,GA,30114,7707157221,Morgan Johnson,Steel Magnolia
22106,3125,1167,http://marketplace.akc.org/breeder/catherine-p...,['Bernese Mountain Dog'],NaN,Wheatland,WY,82201,307-277-4016,Catherine Petera,Catherine Petera
22107,3126,1167,http://marketplace.akc.org/breeder/sandra-wren...,['Collie'],NaN,Hazel,KY,42049,615-268-8151,sandra wrenn,sandra wrenn
22108,3127,1167,http://marketplace.akc.org/breeder/laura-johns...,['Cardigan Welsh Corgi'],NaN,New London,MN,56273,320-224-7950,Laura Johnson,Laura Johnson

In [ ]:
df = df.iloc[: , 1:]

In [ ]:
df

,page,link,name,website,city,state,zip,phone,cont_name,org
0,1,http://marketplace.akc.org/breeder/kimberly-fr...,['Greyhound'],http://www.windrockhounds.net,Torrington,WY,82240,9702701300,Colin and Kimberly Fritzler,WINDROCK LLC
1,1,http://marketplace.akc.org/breeder/joyce-brack...,['Flat-Coated Retriever'],http://www.shastaflatcoats.com,Yreka,CA,96097,530-598-7509,Joyce Brackney,Shasta Flatcoated Retrievers
2,1,http://marketplace.akc.org/breeder/ashs-mystic...,['Poodle'],http://www.mysticalpoodles.com,Pahrump,NV,89048,775-727-1115,Marie Hedeman,Ash's-Mystical Poodles
3,1,http://marketplace.akc.org/breeder/vicky-cream...,"['French Bulldog', 'Labrador Retriever']",http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
4,1,http://marketplace.akc.org/breeder/vicky-cream...,"['French Bulldog', 'Labrador Retriever']",http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
...,...,...,...,...,...,...,...,...,...,...
22104,1167,http://marketplace.akc.org/breeder/sheyenne-bu...,['German Shepherd Dog'],NaN,Brighton,MI,48114,248-880-5974,Sheyenne Buentello,Sheyenne Buentello
22105,1167,http://marketplace.akc.org/breeder/steel-magno...,['Labrador Retriever'],https://www.facebook.com/magnoliapuppies/?ref=...,Canton,GA,30114,7707157221,Morgan Johnson,Steel Magnolia
22106,1167,http://marketplace.akc.org/breeder/catherine-p...,['Bernese Mountain Dog'],NaN,Wheatland,WY,82201,307-277-4016,Catherine Petera,Catherine Petera
22107,1167,http://marketplace.akc.org/breeder/sandra-wren...,['Collie'],NaN,Hazel,KY,42049,615-268-8151,sandra wrenn,sandra wrenn
22108,1167,http://marketplace.akc.org/breeder/laura-johns...,['Cardigan Welsh Corgi'],NaN,New London,MN,56273,320-224-7950,Laura Johnson,Laura Johnson

In [ ]:
for i in range(df['name'].size):
  df['name'][i] = df['name'][i].strip('][').split(', ')
df = df.explode(df.columns[2])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df

,page,link,name,website,city,state,zip,phone,cont_name,org
0,1,http://marketplace.akc.org/breeder/kimberly-fr...,'Greyhound',http://www.windrockhounds.net,Torrington,WY,82240,9702701300,Colin and Kimberly Fritzler,WINDROCK LLC
1,1,http://marketplace.akc.org/breeder/joyce-brack...,'Flat-Coated Retriever',http://www.shastaflatcoats.com,Yreka,CA,96097,530-598-7509,Joyce Brackney,Shasta Flatcoated Retrievers
2,1,http://marketplace.akc.org/breeder/ashs-mystic...,'Poodle',http://www.mysticalpoodles.com,Pahrump,NV,89048,775-727-1115,Marie Hedeman,Ash's-Mystical Poodles
3,1,http://marketplace.akc.org/breeder/vicky-cream...,'French Bulldog',http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
4,1,http://marketplace.akc.org/breeder/vicky-cream...,'Labrador Retriever',http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
...,...,...,...,...,...,...,...,...,...,...
31684,1167,http://marketplace.akc.org/breeder/sheyenne-bu...,'German Shepherd Dog',NaN,Brighton,MI,48114,248-880-5974,Sheyenne Buentello,Sheyenne Buentello
31685,1167,http://marketplace.akc.org/breeder/steel-magno...,'Labrador Retriever',https://www.facebook.com/magnoliapuppies/?ref=...,Canton,GA,30114,7707157221,Morgan Johnson,Steel Magnolia
31686,1167,http://marketplace.akc.org/breeder/catherine-p...,'Bernese Mountain Dog',NaN,Wheatland,WY,82201,307-277-4016,Catherine Petera,Catherine Petera
31687,1167,http://marketplace.akc.org/breeder/sandra-wren...,'Collie',NaN,Hazel,KY,42049,615-268-8151,sandra wrenn,sandra wrenn
31688,1167,http://marketplace.akc.org/breeder/laura-johns...,'Cardigan Welsh Corgi',NaN,New London,MN,56273,320-224-7950,Laura Johnson,Laura Johnson

In [ ]:
import numpy as np
for i in range(df['website'].size):
  if pd.isnull(df['website'][i]):
    str1 = df['link'][i]
    pos = str1.find('?')
    if(pos != -1):
      str1 = str1[:pos]
      df['website'][i] = str1
    else :
      str1 = str1.split("breeder")
      str2 = str1[1].split("/")
      str2 = str2[1].split("/")
      str3 = str1[0] + "breeder/" + str2[0] + "/"
      df['website'][i] = str3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df

,page,link,name,website,city,state,zip,phone,cont_name,org
0,1,http://marketplace.akc.org/breeder/kimberly-fr...,'Greyhound',http://www.windrockhounds.net,Torrington,WY,82240,9702701300,Colin and Kimberly Fritzler,WINDROCK LLC
1,1,http://marketplace.akc.org/breeder/joyce-brack...,'Flat-Coated Retriever',http://www.shastaflatcoats.com,Yreka,CA,96097,530-598-7509,Joyce Brackney,Shasta Flatcoated Retrievers
2,1,http://marketplace.akc.org/breeder/ashs-mystic...,'Poodle',http://www.mysticalpoodles.com,Pahrump,NV,89048,775-727-1115,Marie Hedeman,Ash's-Mystical Poodles
3,1,http://marketplace.akc.org/breeder/vicky-cream...,'French Bulldog',http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
4,1,http://marketplace.akc.org/breeder/vicky-cream...,'Labrador Retriever',http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
...,...,...,...,...,...,...,...,...,...,...
31684,1167,http://marketplace.akc.org/breeder/sheyenne-bu...,'German Shepherd Dog',http://marketplace.akc.org/breeder/sheyenne-bu...,Brighton,MI,48114,248-880-5974,Sheyenne Buentello,Sheyenne Buentello
31685,1167,http://marketplace.akc.org/breeder/steel-magno...,'Labrador Retriever',https://www.facebook.com/magnoliapuppies/?ref=...,Canton,GA,30114,7707157221,Morgan Johnson,Steel Magnolia
31686,1167,http://marketplace.akc.org/breeder/catherine-p...,'Bernese Mountain Dog',http://marketplace.akc.org/breeder/catherine-p...,Wheatland,WY,82201,307-277-4016,Catherine Petera,Catherine Petera
31687,1167,http://marketplace.akc.org/breeder/sandra-wren...,'Collie',http://marketplace.akc.org/breeder/sandra-wren...,Hazel,KY,42049,615-268-8151,sandra wrenn,sandra wrenn
31688,1167,http://marketplace.akc.org/breeder/laura-johns...,'Cardigan Welsh Corgi',http://marketplace.akc.org/breeder/laura-johns...,New London,MN,56273,320-224-7950,Laura Johnson,Laura Johnson

In [ ]:
df = df.drop(['link','page'], axis = 1)

In [ ]:
df = df.drop_duplicates(keep= "first")

In [ ]:
df

,name,website,city,state,zip,phone,cont_name,org
0,'Greyhound',http://www.windrockhounds.net,Torrington,WY,82240,9702701300,Colin and Kimberly Fritzler,WINDROCK LLC
1,'Flat-Coated Retriever',http://www.shastaflatcoats.com,Yreka,CA,96097,530-598-7509,Joyce Brackney,Shasta Flatcoated Retrievers
2,'Poodle',http://www.mysticalpoodles.com,Pahrump,NV,89048,775-727-1115,Marie Hedeman,Ash's-Mystical Poodles
3,'French Bulldog',http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
4,'Labrador Retriever',http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
...,...,...,...,...,...,...,...,...
31593,'German Shepherd Dog',http://marketplace.akc.org/breeder/sheyenne-bu...,Brighton,MI,48114,248-880-5974,Sheyenne Buentello,Sheyenne Buentello
31594,'Labrador Retriever',https://www.facebook.com/magnoliapuppies/?ref=...,Canton,GA,30114,7707157221,Morgan Johnson,Steel Magnolia
31595,'Bernese Mountain Dog',http://marketplace.akc.org/breeder/catherine-p...,Wheatland,WY,82201,307-277-4016,Catherine Petera,Catherine Petera
31596,'Collie',http://marketplace.akc.org/breeder/sandra-wren...,Hazel,KY,42049,615-268-8151,sandra wrenn,sandra wrenn
31597,'Cardigan Welsh Corgi',http://marketplace.akc.org/breeder/laura-johns...,New London,MN,56273,320-224-7950,Laura Johnson,Laura Johnson

In [ ]:
df = df.reset_index(drop=True)
df

,name,website,city,state,zip,phone,cont_name,org
0,'Greyhound',http://www.windrockhounds.net,Torrington,WY,82240,9702701300,Colin and Kimberly Fritzler,WINDROCK LLC
1,'Flat-Coated Retriever',http://www.shastaflatcoats.com,Yreka,CA,96097,530-598-7509,Joyce Brackney,Shasta Flatcoated Retrievers
2,'Poodle',http://www.mysticalpoodles.com,Pahrump,NV,89048,775-727-1115,Marie Hedeman,Ash's-Mystical Poodles
3,'French Bulldog',http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
4,'Labrador Retriever',http://www.Belquestconclusion.com,Mount Airy,MD,21771,301-831-7507,Vicky Creamer,Belquest Conclusion
...,...,...,...,...,...,...,...,...
21666,'German Shepherd Dog',http://marketplace.akc.org/breeder/sheyenne-bu...,Brighton,MI,48114,248-880-5974,Sheyenne Buentello,Sheyenne Buentello
21667,'Labrador Retriever',https://www.facebook.com/magnoliapuppies/?ref=...,Canton,GA,30114,7707157221,Morgan Johnson,Steel Magnolia
21668,'Bernese Mountain Dog',http://marketplace.akc.org/breeder/catherine-p...,Wheatland,WY,82201,307-277-4016,Catherine Petera,Catherine Petera
21669,'Collie',http://marketplace.akc.org/breeder/sandra-wren...,Hazel,KY,42049,615-268-8151,sandra wrenn,sandra wrenn
21670,'Cardigan Welsh Corgi',http://marketplace.akc.org/breeder/laura-johns...,New London,MN,56273,320-224-7950,Laura Johnson,Laura Johnson

In [ ]:
for i in range(df['name'].size):
    df['name'][i] = df['name'][i].strip('"')
    df['name'][i] = df['name'][i].strip('\'')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df=df.sort_values(by = ['name','state','org'], ascending = [True, True, True], na_position = 'first')
df

,name,website,city,state,zip,phone,cont_name,org
1667,Affenpinscher,http://www.coachlightkennels.com,Cottonwood,AZ,86326,928-634-6139,Sheila Wymore,Coachlight Kennels
14055,Affenpinscher,https://www.empeepomyork.com/,Discovery Bay,CA,94505,703-229-9888,Mario Panlilio,"eMPee Affenpinschers, Pomeranians and Yorkshir..."
1625,Affenpinscher,http://marketplace.akc.org/breeder/gizmo-affen...,Littleton,CO,80121,NaN,Kathie Timko,Gizmo Affenpinschers
1760,Affenpinscher,http://marketplace.akc.org/breeder/kelly-brode...,Tallahassee,FL,32305,850-422-0876,Kelly Broderick,Kelly Broderick
1404,Affenpinscher,http://Lindashuedressagetraining. Com,Hastings,FL,32145,949-677-5737,Linda Shue,Tamari Affenpincher and Oakhurst Rhodesian Rid...
...,...,...,...,...,...,...,...,...
6619,Yorkshire Terrier,I'm on Instagram as @yorkshire_terrier_kingdom...,Vancouver,WA,98661,3609091037,Lidiya Anisimova,Yorkshire Terrier kingdom
21236,Yorkshire Terrier,http://marketplace.akc.org/breeder/karla-schue...,Wausau,WI,54401,715-675-3141,Karla Schuett,Karla Schuett
19626,Yorkshire Terrier,http://marketplace.akc.org/breeder/jaznelly-ro...,Milwaukee,WI,53215,414-364-9807,Jaznelly Rodriguez,MKE ADORABLE YORKIES
5390,Yorkshire Terrier,http://www.maplewoodkennel.com,Albright,WV,26519,304-329-4138,Rhonda Kelly,Maplewood Kennel
12824,Yorkshire Terrier,http://Tgmkennels@gmail.com,Hinton,WV,25951,863-243-0902,Doreen McNicholas,Tgmkennels

In [ ]:
df = df.reset_index(drop=True)
df

,name,website,city,state,zip,phone,cont_name,org
0,Affenpinscher,http://www.coachlightkennels.com,Cottonwood,AZ,86326,928-634-6139,Sheila Wymore,Coachlight Kennels
1,Affenpinscher,https://www.empeepomyork.com/,Discovery Bay,CA,94505,703-229-9888,Mario Panlilio,"eMPee Affenpinschers, Pomeranians and Yorkshir..."
2,Affenpinscher,http://marketplace.akc.org/breeder/gizmo-affen...,Littleton,CO,80121,NaN,Kathie Timko,Gizmo Affenpinschers
3,Affenpinscher,http://marketplace.akc.org/breeder/kelly-brode...,Tallahassee,FL,32305,850-422-0876,Kelly Broderick,Kelly Broderick
4,Affenpinscher,http://Lindashuedressagetraining. Com,Hastings,FL,32145,949-677-5737,Linda Shue,Tamari Affenpincher and Oakhurst Rhodesian Rid...
...,...,...,...,...,...,...,...,...
21666,Yorkshire Terrier,I'm on Instagram as @yorkshire_terrier_kingdom...,Vancouver,WA,98661,3609091037,Lidiya Anisimova,Yorkshire Terrier kingdom
21667,Yorkshire Terrier,http://marketplace.akc.org/breeder/karla-schue...,Wausau,WI,54401,715-675-3141,Karla Schuett,Karla Schuett
21668,Yorkshire Terrier,http://marketplace.akc.org/breeder/jaznelly-ro...,Milwaukee,WI,53215,414-364-9807,Jaznelly Rodriguez,MKE ADORABLE YORKIES
21669,Yorkshire Terrier,http://www.maplewoodkennel.com,Albright,WV,26519,304-329-4138,Rhonda Kelly,Maplewood Kennel
21670,Yorkshire Terrier,http://Tgmkennels@gmail.com,Hinton,WV,25951,863-243-0902,Doreen McNicholas,Tgmkennels

In [ ]:
df.to_csv('Formatted.csv')

In [ ]:
file1 = open("Final_Text.txt","w")
file1.truncate(0)
breeds =[]
for i in range(df['org'].size):
  if( df['name'][i] not in breeds):
    breeds.append(df['name'][i])
    file1.write(df['name'][i] + '\n\n')
  file1.write(df['org'][i])
  file1.write('\n')
  file1.write('-  ' + 'Contact:' + df['cont_name'][i] +'\n')
  file1.write('-  ' + 'Location:' + df['city'][i]+ ', ' +df['state'][i] + ' '+ str(df['zip'][i]) + '\n')
  file1.write('-  ' + 'Phone:' + str(df['phone'][i])+ '\n')
  file1.write('-  ' + 'Website:' + df['website'][i]+ '\n')
  file1.write('-  ' + 'Member of: AKC\n\n')
file1.close()